@model Store.Models.Product

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="product-page mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="product-gallery product-gallery-vertical d-flex">
                    <div class="product-img-large">
                        <div class="img-large-slider common-slider" data-slick='{
                                        "slidesToShow": 1, 
                                        "slidesToScroll": 1,
                                           "dots": false,
                                        "arrows": false,
                                        "asNavFor": ".img-thumb-slider"
                                    }'>
                            <div class="img-large-wrapper">
                                <a href="@Model.Image" data-fancybox="gallery">
                                    <img src="@Model.Image" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-img-thumb">
                        <div class="img-thumb-slider common-slider" data-vertical-slider="true" data-slick='{
                                        "slidesToShow": 5, 
                                        "slidesToScroll": 1,
                                        "dots": false,
                                        "arrows": true,
                                        "infinite": false,
                                        "speed": 300,
                                        "cssEase": "ease",
                                        "focusOnSelect": true,
                                        "swipeToSlide": true,
                                        "asNavFor": ".img-large-slider"
                                    }'>
                        </div>
                        <div
                            class="activate-arrows show-arrows-always arrows-white d-none d-lg-flex justify-content-between mt-3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="product-details ps-lg-4">
                    <div class="mb-3"><span class="product-availability">In Stock</span></div>
                    <h2 class="product-title mb-3">@Model.Name</h2>
                    <div class="product-rating d-flex align-items-center mb-3">
                        <span class="star-rating">
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.168 5.77344L10.082 5.23633L8 0.566406L5.91797 5.23633L0.832031 5.77344L4.63086 9.19727L3.57031 14.1992L8 11.6445L12.4297 14.1992L11.3691 9.19727L15.168 5.77344Z"
                                    fill="#FFAE00" />
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.168 5.77344L10.082 5.23633L8 0.566406L5.91797 5.23633L0.832031 5.77344L4.63086 9.19727L3.57031 14.1992L8 11.6445L12.4297 14.1992L11.3691 9.19727L15.168 5.77344Z"
                                    fill="#FFAE00" />
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.168 5.77344L10.082 5.23633L8 0.566406L5.91797 5.23633L0.832031 5.77344L4.63086 9.19727L3.57031 14.1992L8 11.6445L12.4297 14.1992L11.3691 9.19727L15.168 5.77344Z"
                                    fill="#FFAE00" />
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.168 5.77344L10.082 5.23633L8 0.566406L5.91797 5.23633L0.832031 5.77344L4.63086 9.19727L3.57031 14.1992L8 11.6445L12.4297 14.1992L11.3691 9.19727L15.168 5.77344Z"
                                    fill="#FFAE00" />
                            </svg>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.168 5.77344L10.082 5.23633L8 0.566406L5.91797 5.23633L0.832031 5.77344L4.63086 9.19727L3.57031 14.1992L8 11.6445L12.4297 14.1992L11.3691 9.19727L15.168 5.77344Z"
                                    fill="#B2B2B2" />
                            </svg>
                        </span>
                        <span class="rating-count ms-2">(22)</span>
                    </div>
                    <div class="product-price-wrapper mb-4">
                        <span class="product-price regular-price">$@Model.Price</span>
                    </div>
                    <div class="product-vendor product-meta mb-3">
                        <strong class="label">Category:</strong> @Model.Category.Name
                    </div>
                    <div class="misc d-flex align-items-end justify-content-between mt-4">
                        <div class="quantity d-flex align-items-center justify-content-between">
                            <button class="qty-btn dec-qty">
                                <img src="~/template/store/assets/img/icon/minus.svg"
                                     alt="minus">
                            </button>
                            <input class="qty-input" type="number" name="Quantity1" value="1" min="0">
                            <button class="qty-btn inc-qty">
                                <img src="~/template/store/assets/img/icon/plus.svg"
                                     alt="plus">
                            </button>
                        </div>
                        <div class="message-popup d-flex align-items-center">
                            <span class="message-popup-icon">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 4.25V16.25H4.5V20.0703L5.71875 19.0859L9.25781 16.25H16.5V4.25H1.5ZM3 5.75H15V14.75H8.74219L8.53125 14.9141L6 16.9297V14.75H3V5.75ZM18 7.25V8.75H21V17.75H18V19.9297L15.2578 17.75H9.63281L7.75781 19.25H14.7422L19.5 23.0703V19.25H22.5V7.25H18Z"
                                          fill="black" />
                                </svg>
                            </span>
                            <span class="message-popup-text ms-2">Message</span>
                        </div>
                    </div>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="ProductId" value="@Model.Id" />
                        <input type="hidden" name="ProductName" value="@Model.Name" />
                        <input type="hidden" name="Price" value="@Model.Price" />
                        <input class="qty-input" type="hidden" name="Quantity" value="1" min="0">
                        <div class="product-form-buttons d-flex align-items-center justify-content-between mt-4">
                            <button type="submit" class="position-relative btn-atc btn-add-to-cart loader">ADD TO
                                CART</button>
                            <a href="wishlist.html" class="product-wishlist">
                                <svg class="icon icon-wishlist" width="26" height="22" viewBox="0 0 26 22" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.96429 0.000183105C3.12305 0.000183105 0 3.10686 0 6.84843C0 8.15388 0.602121 9.28455 1.16071 10.1014C1.71931 10.9181 2.29241 11.4425 2.29241 11.4425L12.3326 21.3439L13 22.0002L13.6674 21.3439L23.7076 11.4425C23.7076 11.4425 26 9.45576 26 6.84843C26 3.10686 22.877 0.000183105 19.0357 0.000183105C15.8474 0.000183105 13.7944 1.88702 13 2.68241C12.2056 1.88702 10.1526 0.000183105 6.96429 0.000183105ZM6.96429 1.82638C9.73912 1.82638 12.3036 4.48008 12.3036 4.48008L13 5.25051L13.6964 4.48008C13.6964 4.48008 16.2609 1.82638 19.0357 1.82638C21.8613 1.82638 24.1429 4.10557 24.1429 6.84843C24.1429 8.25732 22.4018 10.1584 22.4018 10.1584L13 19.4036L3.59821 10.1584C3.59821 10.1584 3.14844 9.73397 2.69866 9.07411C2.24888 8.41426 1.85714 7.55466 1.85714 6.84843C1.85714 4.10557 4.13867 1.82638 6.96429 1.82638Z"
                                        fill="#00234D"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="buy-it-now-btn mt-2">
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="position-relative btn-atc bg-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- product tab start -->
<div class="product-tab-section mt-100" data-aos="fade-up" data-aos-duration="700">
    <div class="container">
        <div class="tab-content product-tab-content">
            <div id="pdescription" class="tab-pane fade show active">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="desc-content">
                            <h4 class="heading_18 mb-3">What is @Model.Name</h4>
                            <p style="white-space: pre-line;" class="text_16 mb-4">@Model.Description</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-12">
                        <div class="desc-img">
                            <img src="@Model.Image" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            const qtyInputNumber = $("input[name='Quantity1']");
            const qtyInputHidden = $("input[name='Quantity']");

            qtyInputNumber.on("change", function () {
                // Lấy giá trị mới từ input number
                const newValue = qtyInputNumber.val();
                console.log(newValue);

                // Gán giá trị mới cho input hidden
                qtyInputHidden.val(newValue);
            });

            $(".qty-btn.inc-qty").click(function () {
                // Tăng giá trị của input number lên
                const newValue = qtyInputNumber.val();
                console.log(newValue);

                // Gán giá trị mới cho input hidden
                qtyInputHidden.val(newValue);
            });

            // Bắt sự kiện khi nút dec-qty được nhấn
            $(".qty-btn.dec-qty").click(function () {
                const newValue = qtyInputNumber.val();
                console.log(newValue);

                // Gán giá trị mới cho input hidden
                qtyInputHidden.val(newValue);
            });
        });



    </script>
}